.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #09d3ac;
}

td, th {
  width: 100px;
}

.customTable .react-bs-container-header .react-bs-table-expand-cell,
.customTable  .react-bs-container-body .react-bs-table-expand-cell{
  display: none;
}

.btn-group {
  margin-bottom: 50px;
}

.hello {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-content: center;
}